body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #01111D;
  background: #F4F8F3;
}

/* LINKS */
a {
  color: #01111D;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

header {
  background: #01111D;
  color: #F4F8F3;
  padding: 2rem;
  text-align: left;
}

header h1 {
  margin: 0.2rem 0;
  font-size: 2rem;
}

header p {
  margin: 0;
  font-size: 1.2rem;
}

main {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1rem;
}

section {
  margin-bottom: 3rem;
}

h2 {
  border-bottom: 2px solid #01111D;
  padding-bottom: 0.3rem;
}

.skill-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.skill-columns div {
  flex: 1 1 250px;
  background: #ffffff;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.08);
}

.project {
  background: #ffffff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.08);
  transition: 0.2s;
}

/* efeito hover para cards clicáveis */
.projects:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

.projects a {
  color: inherit;
  text-decoration: none;
}

.projects a:hover {
  text-decoration: none;
}

footer {
  background: #01111D;
  color: #F4F8F3;
  text-align: center;
  padding: 1rem 0;
}

.academic-item {
  background: #ffffff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.08);
}

.academic-item h3 {
  margin-top: 0;
}

.academic-item ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.lang-switch {
  text-align: right;
  margin-bottom: 10px;
}

.lang-switch a {
  text-decoration: none;
  padding: 5px 10px;
  background-color: #01111D;
  color: #F4F8F3;
  border-radius: 4px;
  font-size: 0.9rem;
}

.lang-switch a:hover {
  opacity: 0.8;
}
